<p><%= link_to raw('Back to Telephone'), '/facebook/index'%></p>


<h1>Privacy Policy</h1>

<h2>Introduction</h2>
<p>
	We take your right to privacy seriously and want you to feel comfortable using our web site and the Telephone service. 
	This Privacy Policy deals with personally identifiable information (referred to as “Data” below) that may be collected by us on our site 
	and the Telephone software. This Policy does not apply to other entities that we do not own or control or persons that are not our employees, 
	agents or within our control.
</p>

<h2>Collection of Data</h2>
<p>
	Should registration be required, the process requires only a valid e-mail address or a unique user ID and password. 
	Providing us with other information is at your option. Please take note that your user name, e-mail address, or other submissions 
	that you make on this site or in Telephone may contain your real name or other personally identifiable information and, as a result, 
	may appear on this site. Like many web sites and web based services, we may also automatically receive general information that is 
	contained in our server log files such as your IP address and cookie information. Under no circumstances will data be sold, 
	rented or by other means disclosed to a third party or made public.
</p>

<h2>Use of Data</h2>
<p>
	We may use Data to customize and improve your user experience on this site. We will make efforts so that your Data will not be provided to third parties unless 
	(i) provided for otherwise in this Privacy Policy; (ii) we obtain your consent, such as when you choose to opt-in or opt-out to the sharing 
	of Data; (iii) a service provided on our site requires the interaction with or is provided by a third party, by way of example an Application 
	Service Provider; (iv) pursuant to legal process or law enforcement; (v) we find that your use of this site violates our this Policy, Terms of Use, other usage 
	guidelines or as deemed reasonably necessary by us to protect our legal rights and/or property; (vi) or (vi) this site is purchased by a third party whereby that 
	third party will be able to use the Data in the same manner as we can as set forth in this Policy. In the event you choose to use links that appear on our site to 
	visit other web sites, you are advised to read the privacy policies that appear on those sites. We are not responsible for the content of the websites visited through the links.
</p>

<h2>Cookies</h2>
<p>
	Like many web sites, we may set and use cookies to enhance your user experience, such as retaining your personal settings. 
	Advertisements may appear on our web site and, if so, may set and access cookies on your computer and is subject to the Privacy Policy 
	of those parties providing the advertisement. However, the companies serving the advertising do not have access to our cookies. 
	These companies usually use non-personally identifiable or anonymous codes to obtain information about your visits to our site.
</p>

<h2>Notifications</h2>
<p>
	By registering with Telephone you give us permission to contact you via chat, email and/or SMS to inform you about the status of user follows, messages, other system related messages like, but not limited to, 
	news and promotions. You may opt out of promotional information via a link contained in the message itself.
</p>

<h2>Changes to the Privacy Policy</h2>
<p>
	Telephone will occasionally update this Privacy Policy to reflect changes in our software and/or products and customer feedback. 
	When we post changes to this Privacy Policy at Telephone/privacy, we will update the “last revised” date at the bottom of the 
	Privacy Policy. If there are material changes to this Privacy Policy or in how we will use your personal information, we will 
	notify you either by prominently posting a notice of such changes prior to implementing the change or by directly sending you a 
	notification. You agree that your continued use of the Telephone services after notice shall constitute your acceptance of the 
	Privacy Policy. We encourage you to periodically review this Privacy Policy to be informed of how Telephone is collecting, using, 
	and protecting your information.
</p>

<h2>No Guarantees</h2>
<p>
	While this Privacy Policy states our standards for maintenance of Data and we will make efforts to meet them, we are not in a position 
	to guarantee these standards. There may be factors beyond our control that may result in disclosure of data. As a consequence, we 
	disclaim any warranties or representations relating to maintenance or non-disclosure of Data.
</p>

<h3>Last updated August 9, 2012</h3>

